<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>search main</title>
</head>

<body>
    <div th:fragment="searchMain (regions)" th:remove="tag">
        <div class="col-9">
            <div id="search-main">
                <p>地域選択</p>
                <ul class="list-unstyled">
                    <li th:each="region: ${regions}" th:object="${region}">
                        <p class="region-text" th:text="*{name}"></p>
                        <ul class="list-unstyled">
                            <li class="prefecture-list" th:each="prefecture: *{prefectures}" th:object="${prefecture}">
                                <a class="prefecture-text" href="#" th:text=*{name}></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>
