
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=euc-jp">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta name="format-detection" content="telephone=no">
<title>Yahoo!公金支払い - 福岡県篠栗町 上下水道料金 - インターネットで税金支払い、ふるさと納税</title>
<meta name="description" content="福岡県篠栗町の上下水道料金をクレジットカードによりお支払いいただけます。">
<meta name="keywords" content="税金,公共料金,クレジットカード,水道料金,ポイント,支払い,インターネット">
<meta property="og:title" content="Yahoo!公金支払い - 福岡県篠栗町 上下水道料金 - インターネットで税金支払い、ふるさと納税" />
<meta property="og:description" content="福岡県篠栗町の上下水道料金をクレジットカードによりお支払いいただけます。" />
<meta property="og:image" content="https://s.yimg.jp/images/koukin/01/top/og_pc.png" />
<meta property="og:url" content="https://koukin.yahoo.co.jp/" />

<link rel="stylesheet" href="https://s.yimg.jp/images/koukin/02/pc/css/common/3.0.0/common.css" type="text/css" media="all">
<link rel="stylesheet" href="https://s.yimg.jp/images/koukin/02/pc/css/common/2.0.0/style.css" type="text/css" media="all">
<link rel="stylesheet" href="https://s.yimg.jp/images/koukin/02/pc/css/procedure/2.0.2/procedure.css" type="text/css" media="all">
<link rel="stylesheet" href="https://s.yimg.jp/images/koukin/02/pc/css/procedure/tab_change.css" type="text/css" media="all">

<!--[if lt IE 6]>
<link rel="stylesheet" href="https://s.yimg.jp/yui/jp/tmpl/1.1.0/yjTmplIE5-min.css" type="text/css" media="all">
<![endif]-->
<!-- mhcss --><link href="https://s.yimg.jp/yui/jp/mh/pc/1.5.6/css/std.css" rel="stylesheet" type="text/css" media="all"><!-- /mhcss --><script type="text/javascript" src="https://s.yimg.jp/l/jquery/1.11.1/jquery.min.js"></script>
<!--<script type="text/javascript" src="https://s.yimg.jp/images/koukin/02/pc/js/procedure/1.0.0/procedure.js"></script>
<script type="text/javascript" src="https://s.yimg.jp/images/koukin/02/pc/js/procedure/tab_change.js"></script>-->
<script type="text/javascript" src="/js/procedure.js"></script>
<script type="text/javascript" src="/js/tab_change.js"></script>
</head>

<body class="yj100per-1">
<div id="wrapper">
<div id="header">
<a name="yjPagetop" id="yjPagetop"></a><span class="yjGuid"><img src="https://s.yimg.jp/yui/jp/tmpl/1.1.0/audionav.gif" width="1" height="1" alt="このページの先頭です"></span>
<span class="yjSkip"><a href="#yjContentsStart"><img src="https://s.yimg.jp/yui/jp/tmpl/1.1.0/audionav.gif" alt="このページの本文へ" width="1" height="1" ></a></span>

<!-- mhd --><div id="msthd"><div><div id="msthdtp"><div id="mhd_uhd_pc"></div><span style="display: none;"><!-- SpaceID=2080028755 loc=MHUHD noad-spid -->
<script language=javascript>
if(window.yzq_d==null)window.yzq_d=new Object();
window.yzq_d['2WlRAGRCrUU-']='&U=129ivla97%2fN%3d2WlRAGRCrUU-%2fC%3d-2%2fD%3dMHUHD%2fB%3d-2';
</script><noscript><div style="position:absolute;">
  <img width=1 height=1 alt="" src="">
</div></noscript></span>
<div id="msthdsb"><div class="msthdLink">
  <ul><li class="msthdLinkYtop">
    <a href="https://www.yahoo.co.jp/" data-ylk="slk:h_ytop;pos:0" id="msthdYtop">Yahoo! JAPAN</a>
  </li><!-- mhhl --><li class="msthdLinkHelp">
    <a href="https://www.yahoo-help.jp/app/home/service/koukin/" data-ylk="slk:h_hlp;pos:0" id="msthdHelp">ヘルプ</a>
  </li><!-- /mhhl --></ul></div><div id="msthdsrch">
    <form data-redirectadclick action="https://search.yahoo.co.jp/search" name="p">
      <p id="msthdsrchBox"><label id="msthdslb" for="msthdsbox" title="キーワード：" class="offLeft">キーワード：</label>
        <input id="msthdsbox" type="text" name="p" value="" placeholder="ウェブ検索"><button id="msthdsbt" type="submit" title="検索">検索</button>
        <input type=hidden name="ei" value="UTF-8" id="msthdei">
        <input type=hidden name="fr" value="ush"></p></form></div></div></div>
        <div class="logo"><a href="https://koukin.yahoo.co.jp" data-ylk="slk:h_srvtop;pos:0" id="msthdLogo">
          <img src="https://s.yimg.jp/c/logo/f/2.0/koukin_r_34_2x.png" alt="Yahoo!公金支払い" width="233" height="34"></a>
        </div><!-- mhli_logout --><div class="msthdtxt"><p>IDでもっと便利に
          <a href="https://account.edit.yahoo.co.jp/registration?.intl=jp&.done=https%3a%2f%2fkoukin.yahoo.co.jp%2fcontinue%2fagreement.html%3fparam%3dZogfUytUWykBLmdfSdNpgH5gqpucL6mTc9xUaeLPZ15sUAkJa3CVJVEV4k0hUk5.AFZjFuTepqoqZyG_X9fjIEcM7707gFrXocpVkNH1w5gxcVFdPZOaNg5wGQlxAxDYtpcXaWWvbxoIjSuir3s-&.src=koukin" class="b" data-ylk="slk:h_regyid;pos:0" id="msthdReg">新規取得</a></p><p><a href="https://login.yahoo.co.jp/config/login?.src=koukin&lg=jp&.intl=jp&.done=https%3a%2f%2fkoukin.yahoo.co.jp%2fcontinue%2fagreement.html%3fparam%3dZogfUytUWykBLmdfSdNpgH5gqpucL6mTc9xUaeLPZ15sUAkJa3CVJVEV4k0hUk5.AFZjFuTepqoqZyG_X9fjIEcM7707gFrXocpVkNH1w5gxcVFdPZOaNg5wGQlxAxDYtpcXaWWvbxoIjSuir3s-" class="b" data-ylk="slk:h_login;pos:0" id="msthdLogin">ログイン</a>
            <span id="mhd_text_pc"></span></p></div><!-- /mhli_logout --></div></div>
            <!--<script type="text/javascript" src="https://s.yimg.jp/images/ds/rapid/ult.js"></script>
            <script type="text/javascript" src="https://s.yimg.jp/images/security/pf/pcore-1.0.2.min.js"></script>
            <script type="text/javascript" src="https://s.yimg.jp/images/security/pf/yjsecure.js"></script>
            <script type="text/javascript" src="https://s.yimg.jp/images/mempf/mt_pc_mhd.js"></script>
            <script type="text/javascript">window.msthdPromo = function() {YAHOO.JP.msthd.Promo.init();};</script> 
            <script type="text/javascript">(function(d,t){var s=d.getElementsByTagName(t)[0],n=d.createElement(t);n.id='msthdScript';n.src='https://s.yimg.jp/yui/jp/mh/pc/1.8.12/js/std-min.js';n.setAttribute('data-s','');n.setAttribute('data-tm','1594707478');s.parentNode.insertBefore(n,s);}(document,'script'));</script>
            -->
            <!-- /mhd --><!-- EMG -->
          
            <div id="emg3"><!-- SpaceID=2080028755 loc=EMG3 noad-spid -->
</div>
<div id="emg2"><!-- SpaceID=2080028755 loc=EMG2 noad-spid -->
</div>
<div id="emg"><!-- SpaceID=2080028755 loc=EMG noad-spid -->
</div> 
<!-- /EMG -->
</div>
<!--/#header-->

<hr class="yjSeparation">
<div id="contents">
<div id="yjContentsBody"> <span class="yjGuid"><a name="yjContentsStart" id="yjContentsStart"></a><img src="https://s.yimg.jp/yui/jp/tmpl/1.1.0/audionav.gif" alt="ここから本文です" width="1" height="1"></span> 

<noscript>
<div class="inr">
<p class="errorBox">JavaScriptが無効です。ブラウザーの設定でJavaScriptを有効にしてください。（<a href="https://www.yahoo-help.jp/app/noscript" target="frame">設定方法を見る</a>）</p>
</div>
</noscript>

<!-- ptsMainTtl -->
<div class="ptsMainTtl">
<div class="decInner">

<div class="elCityMenu clearfix">
<div class="elCity">
<span class="decLogo"><img src="//iwiz-koukin.c.yimg.jp/d/iwiz-koukin/logo/3/40342.gif"></span>
<h1 class="decTxtL">福岡県篠栗町</h1>
</div><!--/elCity-->
<div class="elLinkTxt">
<div class="decTxtBox">
</div><!--/decTxtBox-->
</div><!--/elLinkTxt-->
</div><!--/elCityMenu-->

<div class="elStatesMenu clearfix">
<div class="elStates clearfix">
<p class="elIcoArw decGren"><span class="decSqr">継続的なお支払い</span><span class="decArw"></span></p>
<p class="decTxt">上下水道料金</p>
</div><!--/elStates-->


<ul class="snsArea right">
  <li class="snsArea__fb">
    <a href="https://www.facebook.com/share.php?u=https://koukin.yahoo.co.jp/" target="_blank"><img src="https://s.yimg.jp/images/koukin/02/common/img/sns/icon_fb.png" alt="facebookでこのページをシェア"></a>
  </li>
  <li class="snsArea__tw">
    <a href="https://twitter.com/share?url=https%3a%2f%2fkoukin%2eyahoo%2eco%2ejp%2f&amp;text=Yahoo%21%E5%85%AC%E9%87%91%E6%94%AF%E6%89%95%E3%81%84%E3%81%A7%E3%81%AF%E7%A6%8F%E5%B2%A1%E7%9C%8C%E7%AF%A0%E6%A0%97%E7%94%BA%E4%B8%8A%E4%B8%8B%E6%B0%B4%E9%81%93%E6%96%99%E9%87%91%E3%82%92%E3%82%AF%E3%83%AC%E3%82%B8%E3%83%83%E3%83%88%E3%82%AB%E3%83%BC%E3%83%89%E3%81%A7%E3%81%84%E3%81%A4%E3%81%A7%E3%82%82%E7%B0%A1%E5%8D%98%E3%81%AB%E3%81%8A%E6%94%AF%E6%89%95%E3%81%84%E3%81%A7%E3%81%8D%E3%80%81T%E3%83%9D%E3%82%A4%E3%83%B3%E3%83%88%E3%81%AE%E5%88%A9%E7%94%A8%E3%82%82%E5%8F%AF%E8%83%BD%E3%81%A7%E3%81%99%E3%80%82" target="_blank"><img src="https://s.yimg.jp/images/koukin/02/common/img/sns/icon_tw.png" alt="twitterでこのページをシェア"></a>
  </li>
</ul><!--/snsArea-->
</div><!--/elStatesMenu-->

</div><!--/decInner-->
</div><!--/ptsMainTtl-->
<!-- /ptsMainTtl -->


<!--
ykCprocUtility
-->
<div id="ykCprocUtility">
<ul class="tab-group">
<li class="tab-item is-active"><button>新規申し込み</button></li>
<li class="tab-item"><button>支払い状況照会</button></li>
<li class="tab-item"><button>各種変更手続き</button></li>
<li class="tab-item"><button>支払い停止手続き</button></li>
</ul>
<div class="panel-group">
<!--tab1-->
<div class="panel is-show">
<div class="wrFixed">

<ul class="step clearfix">
<li class="normal select">1.お支払い手順</li>
<li class="arrow"></li>
<li class="normal">2.お客様番号を入力</li>
<li class="arrow"></li>
<li class="long">3.クレジットカード情報等を入力</li>
<li class="arrow"></li>
<li class="normal">4.内容を確認</li>
<li class="arrow"></li>
<li class="normal">5.手続き完了</li>
</ul><!-- /step -->
<p class="elGuide"><a href="https://koukin.yahoo.co.jp/guide/taxandrate_continue">ご利用ガイド</a></p>

<p class="elLedeTxt">内容をご確認のうえ、よろしければ「お手続きはこちら」ボタンを押してください。</p>


<div class="ptsvisible">
<table cellspacing="0" cellpadding="0" class="elStep mrgB10">
<tbody><tr>
<td class="decTlt">
<div class="clearfix">
<div class="stepTl decStep01" id="st001">
<h3>STEP.01</h3>
<p>上下水道使用水量等のお知らせ（検針票）または納入通知書</p>
</div>
<div class="help"><a href="https://www.yahoo-help.jp/app/answers/detail/a_id/44131/p/562" target="_new">ヘルプ</a></div>
</div>
</td>
<td class="decSp">&nbsp;</td>
<td class="decTlt">
<div class="clearfix">
<div class="stepTl decStep02" id="st002"><h3>STEP.02</h3><p>手数料の確認</p></div>
<div class="help"><a href="https://www.yahoo-help.jp/app/answers/detail/a_id/44126/p/562" target="_new">ヘルプ</a></div>
</div>
</td>
<td class="decSp">&nbsp;</td>
<td class="decTlt">
<div class="clearfix">
<div class="stepTl decStep03" id="st003"><h3>STEP.03</h3><p>各注意事項の確認</p></div>
<div class="help"><a href="https://www.yahoo-help.jp/app/answers/detail/a_id/44122/p/562" target="_new">ヘルプ</a></div>
</div>
</td>
</tr>
<tr>
<td class="decAcc">
<div class="stepTxt">
<p>お手元の「上下水道使用水量等のお知らせ」または「納入通知書」に記載されている下記のご契約情報が必要になります。</p>
</div>
</td>
<td class="decSp">&nbsp;</td>
<td class="decAcc">
<div class="stepTxt">
    <p>福岡県篠栗町のお支払い１件ごとの決済手数料をご確認ください。</p>
</div>
</td>
<td class="decSp">&nbsp;</td>
<td class="decAcc">
<div class="stepTxt">
<p>「納入通知書」及び「領収証」、その他領収した旨を通知する書面は発行されません。クレジットカード会社からの利用明細書等でご確認ください。</p>
</div>
</td>
</tr>
<tr>
<td class="decHow">
<div class="decInner decSbox">
<div class="decTxt">
<p>「水栓番号」「確認番号」</p>
</div>
</div>
</td>
<td class="decSp">&nbsp;</td>
<td class="decHow">
<div class="decInner decSbox">
<div class="decTxt">
<p class="decLtxt decRed"><span>0</span>円</p>
</div>
</div>
</td>
<td class="decSp">&nbsp;</td>
<td class="decHow decTop">
<div class="decInner decSbox">
<div class="notice">
<p class="decAtt">確認必須の注意事項</p>
<a href="#lg_attention">注意事項</a><br>
<a href="#card_attention">クレジットカード納付をされる際の注意事項</a>
</div><!--/notice-->
</div>
</td>
</tr>
</tbody></table>

<div class="decBoxLb clearfix">

<div class="decLbox clearfix elStep">
<div class="clearfix">
<div class="stepTl decLwid decStep04" id="st004">
<h3>STEP.04</h3>
<p>Yahoo! JAPAN IDの確認</p>
</div>
<div class="help"><a href="https://www.yahoo-help.jp/app/answers/detail/a_id/44140/p/562" target="_new">ヘルプ</a></div>
</div>
<p class="decTxt">お手続きにはYahoo! JAPAN IDでのログインと、Yahoo!ウォレットへの登録が必要です。</p>

</div><!--/decLbox-->

<div class="decRbox elStep">
<div class="stepTl decLwid decStep05" id="st005">
<p>ログインされていません</p>
</div>

<div class="decInerBx">
<ul class="clearfix">
<li class="decMgmR20"><a href="https://account.edit.yahoo.co.jp/registration?.src=koukin&.done=https%3A%2F%2Fkoukin.yahoo.co.jp%2Fcontinue%2Fagreement.html%3Fparam%3DZogfUytUWykBLmdfSdNpgH5gqpucL6mTc9xUaeLPZ15sUAkJa3CVJVEV4k0hUk5.AFZjFuTepqoqZyG_X9fjIEcM7707gFrXocpVkNH1w5gxcVFdPZOaNg5wGQlxAxDYtpcXaWWvbxoIjSuir3s-">Yahoo! JAPAN IDを取得（無料）</a></li>
<li><a href="https://login.yahoo.co.jp/config/login?.src=koukin&.done=https%3A%2F%2Fkoukin.yahoo.co.jp%2Fcontinue%2Fagreement.html%3Fparam%3DZogfUytUWykBLmdfSdNpgH5gqpucL6mTc9xUaeLPZ15sUAkJa3CVJVEV4k0hUk5.AFZjFuTepqoqZyG_X9fjIEcM7707gFrXocpVkNH1w5gxcVFdPZOaNg5wGQlxAxDYtpcXaWWvbxoIjSuir3s-">Yahoo! JAPAN IDでログイン</a></li>
</ul>
</div><!--/decInerBx-->
<!--/decRbox--></div>

</div><!--/decBoxLb-->
</div>


<div class="submitBx clearfix mrgB20" id="proUp">
<form action="paymentslip.html" method="post">
<input type="checkbox" class="jsAgreeCheck" id="toggle">
<label for="toggle">手数料・注意事項を確認の上、同意する</label>
<input type="hidden" value="4TLD.GpUWymzWUHqtxuuRJ7akM2ZZVAMMh0mrokV_AAp0JkExEvIVu67rpb5mOaqdMbTvi9FJ7VOed..Ft58haxVFhqswZAV9ldMGBFeeqHU8RsAOcYQUG8VQp8TPebCNP8W5x6ceaXy6iPOaY6Moq6utmQ.15SL2oTZQRXCPBUjuaOVUW3KPJFN8bc1fFw_JxlYE_qUt3XW0noONo_C9jFFH0Rzi06SbZDbtG0GD_0YI0hCluPZOn70w1s-" name="param">
<input type="submit" value="お手続きはこちら" class="decBtnOrg decBtn_gray jsAgreeButton" disabled>
</form>
</div><!-- /follow procedure button -->


<div class="confirmBx mrgB60">
<ul class="clearfix">
<li class="lt">
<h4>ご利用可能なクレジットカード</h4>
<div class="mrgT10">
<img src="https://s.yimg.jp/images/koukin/01/cardbrand/master.png" alt="Mastercard" width="50" height="39">
 
<img src="https://s.yimg.jp/images/koukin/01/cardbrand/visa.png" alt="VISA" width="50" height="39">
 
<img src="https://s.yimg.jp/images/koukin/01/cardbrand/jcb.png" alt="JCB" width="50" height="39">
 
<img src="https://s.yimg.jp/images/koukin/01/cardbrand/diners.png" alt="ダイナース" width="53" height="39">
<img src="https://s.yimg.jp/images/koukin/01/cardbrand/amex.png" alt="American Express" width="39" height="39">
 
</div></li>
<li class="rt clearfix">
<img src="https://s.yimg.jp/images/koukin//02/pc/img/procedure/tpoint.png" alt="Tポイントカード">
<h4>Yahoo! JAPAN IDをお持ちの方は、Tポイントを使ったお支払いも可能です。</h4>
</li>
</ul>
</div>


<div class="elExBox">
<a name="lg_attention"></a>
<h3>注意事項</h3>
<div class="decfrmBox mrgB40">
<p class="decTexIn">Yahoo!公金支払いでのクレジット継続払いでは、指定代理納付者であるヤフー株式会社がお客様の水道料金及び下水道使用料を立替払いし、クレジットカードご利用代金として、他のクレジットカードご利用分と併せて、クレジットカード会社からお客様に請求する方法により継続してお支払いいただけます。「注意事項」及び「クレジットカード払いに関する約定」に同意の上、お客様ご自身の判断と責任においてお申し込みください。<br />
※篠栗町上下水道課や金融機関等の窓口で、クレジットカードを提示してお支払いいただく方法ではありません。 <br />
<br />
1　 1回の請求金額が20,000円以下の場合に限り、クレジット継続払いをご利用になれます。20,000円を超えた場合は納入通知書を郵送いたしますので、お近くの金融機関やコンビニエンスストア等でお支払いください。なお、次回以降において1回の請求金額が20,000円以下であれば、引き続きクレジット継続払いをご利用できます。<br />
2　クレジット継続払いによる手数料はかかりません。ただし、パソコンや携帯電話からのインターネット接続費用・パケット費用などはお客様の負担となります。<br />
3　クレジットカードが使用できない場合は、納入通知書による請求方法に変更いたします。この場合、請求方法の変更についてお客様に事前にお知らせをすることはありません。また、すでに口座振替予定の料金は、クレジットカードによるお支払いをご利用になれません。<br />
4　クレジット継続払いの取扱い開始は、登録日によっては事務処理上の都合により次回の検針分からとなることがあります。また、クレジット継続払いの利用停止手続きを行った場合であっても、手続日によっては事務処理上の都合により一時的に継続されることがあります。<br />
5　お客様情報に変更があった場合は再登録が必要になります。また、クレジット継続払いの登録後に町内転居し、転居先でも引き続きクレジット継続払いを希望される場合は、改めてお申込みいただく必要があります。<br />
6　領収証は発行いたしませんので、カード会社から届く利用明細書をご確認ください。<br />
7　Yahoo!公金支払い・Yahoo!ウォレットに登録されるお客様のクレジットカード情報の一切は、篠栗町上下水道課には通知されず、篠栗町上下水道課がお客様に対してクレジットカードの情報をお尋ねすることはありません。</p>
</div>
</div>

<div class="elExBox">
<h3>クレジットカード払いに関する約定</h3>
<div class="decfrmBox mrgB40">
<p class="decTexIn">
Yahoo!公金支払いでの支払いは、地方自治法第231条の2第6項および地方自治法施行令の規定に基づく「指定代理納付者による納付」です。指定代理納付者のヤフー株式会社が立替払いし、お客様が登録したクレジットカード会社（以下「カード会社」という。）が他のクレジットカード（以下「カード」という。）ご利用分と合わせて請求する継続払いとなります。<br />
ヤフー株式会社から篠栗町上下水道課に水道料金等の立替払いが行われると、お客様の篠栗町上下水道課に対する水道料金等の支払債務は消滅します。これに代わり、お客様が登録したカード会社に対し、水道料金等と同額の支払債務を負うことになります。<br />
これらのことに加え、次の各条項をご了承のうえ、一切の責任をもってお申込みください。<br />
<br />
1　登録後は、カード会社の会員規約に基づく会員資格の喪失、お客様による利用停止の手続き、退会、その他継続できない事由が発生しない限り、Yahoo!公金支払いでのクレジットカード払い（以下「カード払い」という。）が継続されます。<br />
2　カード払いは、カード会社の会員規約に従ってお支払いください。<br />
3　カードの有効性が確認できない等の理由で申込みの登録を受け付けることができない場合は、従来の支払方法により納付していただきます。<br />
4　支払回数は一括払いになります。<br />
5　1回の請求金額が20,000円以下の水道料金等が対象です。20,001円以上の場合は、納入通知書により請求いたします。なお、その次以降の請求金額が20,000円以下であれば、引き続きYahoo!公金支払いによる決済が継続できます。<br />
6　カードの利用限度額を超える等カード会社の会員規約により決済ができない場合や登録後にカードの有効性が確認できなくなった場合には、お客様が登録したメールアドレスへ取扱い中止をお知らせします。その後、納入通知書をお送りします。<br />
7　カードの番号または有効期限が変更になった場合で、カード会社からヤフー株式会社へ新しいカードの番号または有効期限が通知された場合は、引き続きカード払いを利用していただくことができますが、カード会社から通知されない場合は、変更手続きが必要となります。<br />
8　水道使用を契約しているお客様の名義と、決済用として登録するカード会員の名義人（以下「カード名義人」という。）が異なる場合は、お客様が水道料金等の支払いをカード名義人に委託し、カード名義人はこれを承諾したものとして取り扱います。この場合、篠栗町上下水道課からの各種通知や連絡等については、すべて水道使用を契約しているお客様に行います。また、篠栗町上下水道課は、カード会社からの各種通知や連絡等がすべてカード名義人に行われることについてお客様が承諾したものとして取り扱います。</p>
</div>
</div>

<div class="elExBox">
<a name="card_attention"></a>
<h3>Yahoo!公金支払いでクレジットカードによる納付をされる際の注意事項</h3>
<div class="decfrmBox mrgB40">
<p>
<dl>
<dt>（指定代理納付者による納付）</dt>
<dd>・Yahoo!公金支払いでの支払いは、地方自治法第231条の2第6項および地方自治法施行令の規定に基づく「指定代理納付者による納付」です。</dd>
<dt>（お支払い回数）</dt>
<dd>・お支払い回数は1回払いとさせていただきます。</dd>
</dl>
<dt>（領収証）</dt>
<dd>・領収証の発行は行いませんので、クレジットカード会社から届く利用明細書などをご確認ください。</dd>
<dt>（カード利用代金の支払い）</dt>
<dd>
<ul>
<li>・カード利用限度額を超えるなど、クレジットカード会社の規定により、クレジットカード払いができない場合や、そのほか事務上の都合により、納入通知書等により地方公共団体から直接請求させていただく場合があります。</li>
<li>・クレジットカード払い開始後であっても、クレジットカードの有効性が確認できなくなったときは、クレジットカード払いのお取り扱いを中止させていただきます。その場合は、その旨をYahoo!ウォレットに登録のメールアドレスへお知らせいたします。その後は、地方公共団体から納入通知書等により請求させていただきます。</li>
<li>・クレジットカードの利用代金の支払いは、カード発行会社の会員規約に基づくお支払いとなります。クレジットカード会社により、支払日などが異なりますので、利用状況や支払い予定日などについてはクレジットカード会社が発行する利用明細書などにてご確認ください。</li>
</ul>
</dd>
</dl>
</p>
</div>
</div>


<div class="elInquiry">
<h3>このページに関するお問い合わせ</h3>
<h4>Yahoo!公金支払いでの納付に関すること</h4>
<div class="decLit">
<p class="decTexIn">篠栗町上下水道課　電話：092-947-1256<br />
開庁時間：8:30～17:00　月曜日～金曜日（祝日・年末年始は除く）</p>
</div><!--/decLit-->

<h4>納付通知書に関すること</h4>
<div class="decLit">
<p class="decTexIn">篠栗町上下水道課　電話：092-947-1256<br />
開庁時間：8:30～17:00　月曜日～金曜日（祝日・年末年始は除く）</p>
</div><!--/decLit-->
</div>

<div class="ptsLbwdBox mrgT40">
<div class="decInner inside">
<h3>お申し込み情報の確認・変更・停止</h3>
<h4><a href="https://koukin.yahoo.co.jp/continue/paymentslip.html?param=4TLD.GpUWymzWUHqtxuuRJ7akM2ZZVAMMh0mrokV_AAp0JkExEvIVu67rpb5mOaqdMbTvi9FJ7VOed..Ft58haxVFhqswZAV9ldMGBFeeqHU8RsAOcYQUG8VQp8TPebCNP8W5x6ceaXy6iPOaY6Moq6utmQ.15SL2oTZQRXCPBUjuaOVUW3KPJFN8bc1fFw_JxlYE_qUt3XW0noONo_C9jFFH0Rzi06SbZDbtG0GD_0YI0hCluPZOn70w1s-">お申し込み情報の確認</a></h4>
<p class="decTxt">お申し込みいただいた上下水道料金のクレジットカード払いの登録情報を確認できます。</p>
<h4><a href="https://edit.wallet.yahoo.co.jp/config/wallet_signup?.src=koukin&.done=https%3A%2F%2Fkoukin.yahoo.co.jp%2Fcontinue%2Fagreement.html%3Fparam%3D4TLD.GpUWymzWUHqtxuuRJ7akM2ZZVAMMh0mrokV_AAp0JkExEvIVu67rpb5mOaqdMbTvi9FJ7VOed..Ft58haxVFhqswZAV9ldMGBFeeqHU8RsAOcYQUG8VQp8TPebCNP8W5x6ceaXy6iPOaY6Moq6utmQ.15SL2oTZQRXCPBUjuaOVUW3KPJFN8bc1fFw_JxlYE_qUt3XW0noONo_C9jFFH0Rzi06SbZDbtG0GD_0YI0hCluPZOn70w1s-">クレジットカード情報の登録（Yahoo!ウォレット）</a></h4>
<p class="decTxt">Yahoo!ウォレットに登録したクレジットカード情報の確認・変更はYahoo!ウォレットにて行ってください。</p>
</div>
</div>
</div><!--/wrFixed-->
</div>
<!--//tab1-->	
<!--tab2-->
<div class="panel">
<div class="wrFixed">
<section class="inner_box">
<h3 class="inner_box__title">支払い状況の照会</h3>
<p class="inner_box__text">Yahoo!公金支払いを通じたお支払い内容は、Yahoo!ウォレットの利用明細で確認できます。<br>
新規申し込み時に使用したYahoo! JAPAN IDでログインのうえ、ご確認ください。<br>
なお、照会できるのは過去24カ月分の支払い内容です。</p>
<a class="inner_box__link" href="https://detail.wallet.yahoo.co.jp/history">利用明細の確認はこちら<span>(Yahoo!ウォレット)</span></a>
</section>
<section class="inner_box mgB50">
<h3 class="inner_box__title">申し込み履歴の照会</h3>
<p class="inner_box__text">Yahoo!公金支払いを通じた、これまでの申込履歴を確認できます。<br>
新規申し込み時に使用したYahoo! JAPAN IDでログインの上、ご確認ください。</p>
<a class="inner_box__link" href="https://koukin.yahoo.co.jp/usefultool/receptionhistory.html">継続登録履歴の確認はこちら</a>
</section>

<section class="faq_Area">
<h2 class="faq_Area__title">よくある質問</h2>
<ul class="faq_Area__content">
<li class="faq_Area__content__qes">Yahoo! JAPAN IDを忘れました。</li>
<li class="faq_Area__content__ans">Yahoo! JAPAN ID登録時に受信した登録確認メールに記載されています。<br>
登録確認メールを紛失してしまった場合は、「<a href="https://www.yahoo-help.jp/app/answers/detail/p/544/a_id/41929">ログインできない場合のお手続き</a>」でご自分のYahoo! JAPAN IDを探してください。</li>
</ul>
<ul class="faq_Area__content">
<li class="faq_Area__content__qes">「現在ログインされているYahoo! JAPAN IDは継続的なクレジットカード払いの登録がされていません。」のメッセージが表示される。</li>
<li class="faq_Area__content__ans">上記メッセージが表示される場合は、別のYahoo! JAPAN IDで登録されている可能性がございます。<br>
他にお持ちのYahoo! JAPAN IDがございましたら、ログインしなおしてからご確認ください。</li>
</ul>
<ul class="faq_Area__content">
<li class="faq_Area__content__qes">水道料金(またはガス料金)を登録しているYahoo! JAPAN IDを変更したい。</li>
<li class="faq_Area__content__ans">登録状況を残したまま、Yahoo! JAPAN IDを変更することはできません。一度登録を解除してから再度お申し込みを行ってください。</li>
</ul>
<ul class="faq_Area__content">
<li class="faq_Area__content__qes">複数の水道料金(またはガス料金)を異なるクレジットカードで支払いたい。</li>
<li class="faq_Area__content__ans">1つのYahoo! JAPAN IDで複数の水道料金(ガス料金)を登録されている場合、異なるクレジットカードで支払うことはできません。<br>
Yahoo! JAPAN IDをもう1つ取得して、それぞれのIDで水道料金(ガス料金)をご登録ください。</li>
</ul>
</section>
</div>
</div>
<!--//tab2-->
<!--tab3-->
<div class="panel">
<div class="wrFixed">
<section class="inner_box">
<h3 class="inner_box__title">引き落としクレジットカードの変更手続き</h3>
<p class="inner_box__text">料金の引き落としは、Yahoo!ウォレットで<span class="bold">「通常使うお支払い方法」</span>に設定されているクレジットカードから行われます。<br>
クレジットカードの変更は、この<span class="bold">「通常使うお支払い方法」</span>を変更してください。<br>
新規申し込み時に使用したYahoo! JAPAN IDでログインのうえ、手続きしてください。</p>
<a class="inner_box__link mgB40" href="https://wallet.yahoo.co.jp">クレジットカードの変更はこちら<span>(Yahoo!ウォレット)</span></a>
<div class="inner_box__process">
<h4 class="inner_box__processTitle">手順</h4>
<ol class="inner_box__processNum">
<li class="inner_box__processNum__item">上記<span class="bold">「クレジットカードの変更はこちら」</span>をクリックする</li>
<li class="inner_box__processNum__item">Yahoo!ウォレットの上部メニューから<span class="bold">「登録情報」</span>をクリックする</li>
<li class="inner_box__processNum__item">ログイン画面が表示された場合は、パスワード認証を行う</li>
<li class="inner_box__processNum__item"><span class="bold">「クレジットカード・銀行口座（口座振替）」</span>をクリックする</li>
<li class="inner_box__processNum__item">通常使うお支払い方法欄にある<span class="bold">「変更」</span>をクリックする<br>
<span class="small">※通常使うお支払い方法を変更すると、他の有料サービスの引き落とし先も変更されます。</span></li>
<li class="inner_box__processNum__item">ご希望のクレジットカード情報を入力する</li>
<li class="inner_box__processNum__item"><span class="bold">「登録」</span>ボタンを押す</li>
</ol>
</div>
</section>
<section class="inner_box">
<h3 class="inner_box__title">メールアドレスの変更手続き</h3>
<p class="inner_box__text">Yahoo!公金支払いからお送りしている<span class="bold">「Yahoo!公金支払い 支払金額確定のお知らせ」</span>の送付先メールアドレスを変更したい場合は、Yahoo! JAPAN IDの登録情報のメインメールアドレスを変更してください。<br>
新規申し込み時に使用したYahoo! JAPAN IDでログインのうえ、手続きしてください。</p>
<a class="inner_box__link mgB40" href="https://accounts.yahoo.co.jp/profile?.src=koukin&.done=https%3A%2F%2Fkoukin.yahoo.co.jp%2Fcontinue%2Fagreement.html%3Fparam%3DZogfUytUWykBLmdfSdNpgH5gqpucL6mTc9xUaeLPZ15sUAkJa3CVJVEV4k0hUk5.AFZjFuTepqoqZyG_X9fjIEcM7707gFrXocpVkNH1w5gxcVFdPZOaNg5wGQlxAxDYtpcXaWWvbxoIjSuir3s-">メールアドレスの変更はこちら</a>
<div class="inner_box__process">
<h4 class="inner_box__processTitle">手順</h4>
<ol class="inner_box__processNum">
<li class="inner_box__processNum__item">上記<span class="bold">「メールアドレスの変更はこちら」</span>をクリックする</li>
<li class="inner_box__processNum__item">ログイン画面が表示された場合は、パスワード認証を行う</li>
<li class="inner_box__processNum__item"><span class="bold">「登録情報の編集」</span>にあるメールアドレス欄の<span class="bold">「詳細」</span>をクリックする</li>
<li class="inner_box__processNum__item">追加したいメールアドレスを入力し、<span class="bold">「追加」</span>をクリックする</li>
<li class="inner_box__processNum__item">メインメールアドレスの<span class="bold">「変更」</span>をクリックする</li>
<li class="inner_box__processNum__item">（4）で追加したメールアドレスを選択する</li>
</ol>
</div>
</section>
<section class="inner_box mgB50">
<h3 class="inner_box__title">引っ越し時の変更手続き</h3>
<p class="inner_box__text mgB0">引っ越しに伴う、水道使用休止の届け出、水道使用開始の届け出は、お住まいの地域の水道局までお問い合わせください。</p>
</section>

<section class="faq_Area">
<h2 class="faq_Area__title">よくある質問</h2>
<ul class="faq_Area__content">
<li class="faq_Area__content__qes">Yahoo! JAPAN IDを忘れました。</li>
<li class="faq_Area__content__ans">Yahoo! JAPAN ID登録時に受信した登録確認メールに記載されています。<br>
登録確認メールを紛失してしまった場合は、「<a href="https://www.yahoo-help.jp/app/answers/detail/p/544/a_id/41929">ログインできない場合のお手続き</a>」でご自分のYahoo! JAPAN IDを探してください。</li>
</ul>
<ul class="faq_Area__content">
<li class="faq_Area__content__qes">「現在ログインされているYahoo! JAPAN IDは継続的なクレジットカード払いの登録がされていません。」のメッセージが表示される。</li>
<li class="faq_Area__content__ans">上記メッセージが表示される場合は、別のYahoo! JAPAN IDで登録されている可能性がございます。<br>
他にお持ちのYahoo! JAPAN IDがございましたら、ログインしなおしてからご確認ください。</li>
</ul>
<ul class="faq_Area__content">
<li class="faq_Area__content__qes">水道料金(またはガス料金)を登録しているYahoo! JAPAN IDを変更したい。</li>
<li class="faq_Area__content__ans">登録状況を残したまま、Yahoo! JAPAN IDを変更することはできません。一度登録を解除してから再度お申し込みを行ってください。</li>
</ul>
<ul class="faq_Area__content">
<li class="faq_Area__content__qes">複数の水道料金(またはガス料金)を異なるクレジットカードで支払いたい。</li>
<li class="faq_Area__content__ans">1つのYahoo! JAPAN IDで複数の水道料金(ガス料金)を登録されている場合、異なるクレジットカードで支払うことはできません。<br>
Yahoo! JAPAN IDをもう1つ取得して、それぞれのIDで水道料金(ガス料金)をご登録ください。</li>
</ul>
</section>
</div>
</div>
<!--//tab3-->
<!--tab4-->
<div class="panel">
<div class="wrFixed">
<section class="inner_box mgB50">
<h3 class="inner_box__title">支払い停止手続き(水道料金)</h3>
<p class="inner_box__text">停止手続きにあたって、<span class="bold">「お客様番号」</span>と<span class="bold">「確認番号」</span>を用意してください。<br>
「お客様番号」と「確認番号」は、お手元の「水道・下水道使用量等のお知らせ」（検針票）または「納入通知書」に記載されています。<br>
また、新規申し込み時のYahoo! JAPAN IDでログインする必要があります。<br>
Yahoo! JAPAN IDが不明な場合は、本ページ下にある「よくある質問」をご確認ください。</p>
<a class="inner_box__link mgB10" href="https://koukin.yahoo.co.jp/continue/paymentslip.html?param=4TLD.GpUWymzWUHqtxuuRJ7akM2ZZVAMMh0mrokV_AAp0JkExEvIVu67rpb5mOaqdMbTvi9FJ7VOed..Ft58haxVFhqswZAV9ldMGBFeeqHU8RsAOcYQUG8VQp8TPebCNP8W5x6ceaXy6iPOaY6Moq6utmQ.15SL2oTZQRXCPBUjuaOVUW3KPJFN8bc1fFw_JxlYE_qUt3XW0noONo_C9jFFH0Rzi06SbZDbtG0GD_0YI0hCluPZOn70w1s-">支払い停止手続きはこちら</a>
<p class="inner_box__annotation"><span class="bold">「新規申し込み時のYahoo! JAPAN ID」</span>、<span class="bold">「お客様番号」</span>と<span class="bold">「確認番号」</span>をお手元にご用意のうえ手続きしてください。</p>
</section>

<section class="faq_Area">
<h2 class="faq_Area__title">よくある質問</h2>
<ul class="faq_Area__content">
<li class="faq_Area__content__qes">Yahoo! JAPAN IDを忘れました。</li>
<li class="faq_Area__content__ans">Yahoo! JAPAN ID登録時に受信した登録確認メールに記載されています。<br>
登録確認メールを紛失してしまった場合は、「<a href="https://www.yahoo-help.jp/app/answers/detail/p/544/a_id/41929">ログインできない場合のお手続き</a>」でご自分のYahoo! JAPAN IDを探してください。</li>
</ul>
<ul class="faq_Area__content">
<li class="faq_Area__content__qes">「現在ログインされているYahoo! JAPAN IDは継続的なクレジットカード払いの登録がされていません。」のメッセージが表示される。</li>
<li class="faq_Area__content__ans">上記メッセージが表示される場合は、別のYahoo! JAPAN IDで登録されている可能性がございます。<br>
他にお持ちのYahoo! JAPAN IDがございましたら、ログインしなおしてからご確認ください。</li>
</ul>
<ul class="faq_Area__content">
<li class="faq_Area__content__qes">水道料金(またはガス料金)を登録しているYahoo! JAPAN IDを変更したい。</li>
<li class="faq_Area__content__ans">登録状況を残したまま、Yahoo! JAPAN IDを変更することはできません。一度登録を解除してから再度お申し込みを行ってください。</li>
</ul>
<ul class="faq_Area__content">
<li class="faq_Area__content__qes">複数の水道料金(またはガス料金)を異なるクレジットカードで支払いたい。</li>
<li class="faq_Area__content__ans">1つのYahoo! JAPAN IDで複数の水道料金(ガス料金)を登録されている場合、異なるクレジットカードで支払うことはできません。<br>
Yahoo! JAPAN IDをもう1つ取得して、それぞれのIDで水道料金(ガス料金)をご登録ください。</li>
</ul>
</section>
</div>
</div>
<!--//tab4-->	
</div>

<div class="wrFixed">
<div class="pdgT30">
<div class="elSslTex">このページはSSL（Secure Sockets Layer）技術によって保護されています。</div>
</div>
</div>

</div><!--/ykCprocUtility-->

<div id="yjContentsFooter"> <span class="yjGuid"><img src="https://s.yimg.jp/yui/jp/tmpl/1.1.0/audionav.gif" width="1" height="1" alt="本文はここまでです"></span> <span class="yjSkip"> <a href="#yjPagetop"><img src="https://s.yimg.jp/yui/jp/tmpl/1.1.0/audionav.gif" alt="このページの先頭へ" width="1" height="1"></a></span> </div>
</div><!--/#contents-->

<hr class="yjSeparation">
<!-- Footer -->
<hr class="yjSeparation">
<div id="footer">
<address>
<a href="https://privacy.yahoo.co.jp/">プライバシー</a>
-
<a href="https://koukin.yahoo.co.jp/guidelines.html">ガイドライン</a>
-
<a href="https://about.yahoo.co.jp/docs/info/terms/">利用規約</a>
-
<a href="https://koukin.yahoo.co.jp/legal.html">特定商取引法に基づく表示</a>
-
<a href="https://feedback.ms.yahoo.co.jp/voc/koukin-voc/input">ご意見・ご要望</a>
-
<a href="https://www.yahoo-help.jp/app/home/p/562/">ヘルプ</a>
</br>
Copyright (C) 2020 Yahoo Japan Corporation. All Rights Reserved.
</address>
</div><!-- //footer -->

</div>

<script type="text/javascript">
(function () {
    $(document).ready(function() {
        // 同意ボタン
        YAHOO.JP.Koukin.AgreeButton.init({
            'check' : 'jsAgreeCheck',
            'target' : 'jsAgreeButton'
        });
    });
}());
</script>
</body>
</html>
<script language=javascript>
if(window.yzq_p==null)document.write("<scr"+"ipt language=javascript src=https://s.yimg.jp/bdv/yahoo/javascript/csc/20060824/lib2obf_b9.js></scr"+"ipt>");
</script><script language=javascript>
if(window.yzq_p)yzq_p('P=QIe2LTE4Mi6.xVLJXjeImQAcMTEwLgAAAADEw34y&T=1e7s45t4j%2fX%3d1594707478%2fE%3d2080028755%2fR%3djp_koukin%2fK%3d5%2fV%3d1.1%2fW%3dJ%2fY%3djp%2fF%3d285201613%2fH%3dc2VjdXJlPXRydWUgbWgtbG9naW4tZG9uZT0iaHR0cHM6Ly9rb3VraW4ueWFob28uY28uanAvY29udGludWUvYWdyZWVtZW50Lmh0bWw_cGFyYW09Wm9nZlV5dFVXeWtCTG1kZlNkTnBnSDVncXB1Y0w2bVRjOXhVYWVMUFoxNXNVQWtKYTNDVkpWRVY0azBoVWs1LkFGWmpGdVRlcHFvcVp5R19YOWZqSUVjTTc3MDdnRnJYb2NwVmtOSDF3NWd4Y1ZGZFBaT2FOZzV3R1FseEF4RFl0cGNYYVdXdmJ4b0lqU3VpcjNzLSIgYWRjdmVyPTYuOC4x%2fS%3d1%2fJ%3d952E16B6');
if(window.yzq_s)yzq_s();
</script><noscript><div style="position:absolute;"><img width=1 height=1 alt="" src="https://b9.yahoo.co.jp/b?P=QIe2LTE4Mi6.xVLJXjeImQAcMTEwLgAAAADEw34y&T=1edu3v1ks%2fX%3d1594707478%2fE%3d2080028755%2fR%3djp_koukin%2fK%3d5%2fV%3d3.1%2fW%3dJ%2fY%3djp%2fF%3d3920193895%2fH%3dc2VjdXJlPXRydWUgbWgtbG9naW4tZG9uZT0iaHR0cHM6Ly9rb3VraW4ueWFob28uY28uanAvY29udGludWUvYWdyZWVtZW50Lmh0bWw_cGFyYW09Wm9nZlV5dFVXeWtCTG1kZlNkTnBnSDVncXB1Y0w2bVRjOXhVYWVMUFoxNXNVQWtKYTNDVkpWRVY0azBoVWs1LkFGWmpGdVRlcHFvcVp5R19YOWZqSUVjTTc3MDdnRnJYb2NwVmtOSDF3NWd4Y1ZGZFBaT2FOZzV3R1FseEF4RFl0cGNYYVdXdmJ4b0lqU3VpcjNzLSIgYWRjdmVyPTYuOC4x%2fQ%3d-1%2fS%3d1%2fJ%3d952E16B6"></div></noscript>
<!-- web605.koukin.ssk.ynwp.yahoo.co.jp Tue Jul 14 15:17:58 JST 2020 -->
