body {
    font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
    font-size: unset;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

@media (min-width: 768px) {
    .container {
        max-width: 970px;
    }
}

#header {
    font-size: small;
}

#top-header {
    padding: 5px 10px;
    background-color: #f7f7f8;
}

#web-search-form > div > input {
    height: 26px;
    font-size: 12px;
}

#web-search-form > div > div > button {
    position:relative;
    height: 26px;
    width: 26px;
    cursor: pointer;
    background-color: #4b58fd;
}

#web-search-form > div > div > button > i{
    color: white;
    position:absolute;
    top:50%;
    margin-top: -0.5em;
    margin-left: -0.5em;
}

#logo > img {
    width: 233px;
    height: 34px;
}

#profile-img > img {
    width: 36px;
    height: 36px;
}

#footer {
    font-size: 12px;
    text-align: center;
    padding: 14px 0 10px;
}

#navi > ul > li {
    margin-left: 30px;
}
.curt {
    border-bottom: #6bb500 4px solid;
}

#content-search-area {
    height: 70px;
    margin-top: -15px;
    background: #767777;
}
#content-search-form > div {
    margin-top: 18px;
}

#content-search-form > div > input {
    width: 390px;
    height: 31px;
    font-size: 16px;
}

#content-search-form > div > div > button {
    width: 80px;
    height: 31px;
    font-size: 14px;
    color: #fff;
    background: #358aeb;
}

#main {
    padding: 20px 5px;
    background: #f7f7f8;;
}

#area-search {
    background: #fff;
    text-align: center;
    padding: 20px 0;
}

#area-search > button{
    width: 180px;
    height: 30px;
    background: #358aeb;
    color: #fff;
    font-size: 14px;
}

#area-pulldown {
    margin-bottom: 15px;
    border: 1px solid #cdcdcd;
    width: 180px;
    height: 30px;
    padding-left: 13px;
}

#search-main,
#prefecture-detail {
    background: #fff;
    padding: 20px;
}

.search-main-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 26px;
}

.region-text{
    font-size: 18px;
    padding-left: 4px;
    background: #e8f3d2;
    font-weight: bold;
    margin-bottom: 19px;
}

.list-node {
    margin-bottom: 20px;
}
.prefecture-text {
    font-size: 18px;
}
