<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{components/template :: layout(~{::title},~{::body/content()})}">

<head>
    <title>デモ</title>
</head>

<body>
    <div class="container">
        <div id="navi" class="d-flex flex-row-reverse">
            <ul class="list-inline">
                <li class="list-inline-item curt">メニュー1</li>
                <li class="list-inline-item">メニュー2</li>
                <li class="list-inline-item">メニュー3</li>
                <li class="list-inline-item">メニュー4</li>
            </ul>
        </div>
    </div>
    <div id="content-search-area" class="container-fluid">
        <div class="form-group row justify-content-center">
            <form id="content-search-form" class="form-inline mt-2 mt-md-0">
                <div class="input-group">
                    <input type="text" class="form-control" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-default">
                            検索
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="main">
        <div class="container">
            <div class="row">
                <div th:replace="${prefectures} ? ~{components/side-menu :: sideMenu(${prefectures})}"></div>
                <div th:replace="${regions} ? ~{components/search-main :: searchMain(${regions})}">
                </div>
            </div>
        </div>
    </div>
</body>

</html>
