<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}">

<head>
    <title>デモ</title>
</head>

<body>
    <div class="container">
        <div id="navi" class="d-flex flex-row-reverse">
            <ul class="list-inline">
                <li class="list-inline-item curt">メニュー1</li>
                <li class="list-inline-item">メニュー2</li>
                <li class="list-inline-item">メニュー3</li>
                <li class="list-inline-item">メニュー4</li>
            </ul>
        </div>
    </div>
    <div id="content-search-area" class="container-fluid">
        <div class="form-group row justify-content-center">
            <form id="content-search-form" class="form-inline mt-2 mt-md-0">
                <div class="input-group">
                    <input type="text" class="form-control" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-default">
                            検索
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="main">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div id="area-search">
                        <p>地域から探す</p>
                        <select id="area-pulldown">
                            <option>選択してください</option>
                            <option>地域A</option>
                        </select>
                        <button type="button" class="btn btn-default">検索</button>
                    </div>
                </div>
                <div class="col-9">
                    <div id="search-main">
                        <p>地域選択</p>
                        <ul class="list-unstyled">
                            <li th:each="region: ${regions}" th:object="${region}">
                                <p class="region-text" th:text="*{regionName}"></p>
                                <ul class="list-unstyled">
                                    <li th:each="prefecture: *{prefectures}" th:object="${prefecture}">
                                        <a href="#" th:text=*{prefectureName}></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
