<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{components/template :: layout(~{::title},~{::body/content()})}">

<head>
    <title>デモ</title>
</head>

<body>
    <div id="payment-header" class="container-fluid mb-4">
        <div class="row">
            <div class="container p-1">
                <div id="payment-header-top" class="d-flex align-items-center p-1 mb-1">
                    <p class="mr-auto mb-0 h4">デモ</p>
                    <a href="#">リンク</a>
                </div>
                <div class="d-flex align-items-center p-1">
                    <p class="mr-auto mb-0">支払い</p>
                    <a href="#">リンク</a>
                    <a href="#">リンク</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
